
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    overflow: hidden;
}

.main-container {
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, hsl(248, 75%, 4%), hsl(248, 47%, 12%));
}
